@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');

@import './variables';
@import '~bulma';

html {
  overflow-y: auto;
}

body {
  margin: 0;
}

#app {
  font-family: 'Share Tech Mono', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

main {
  text-align: center;
  margin-top: 40px;
}

header {
  margin: 0;
  height: 56px;
  padding: 0 16px 0 24px;
  background-color: #35495e;
  color: #ffffff;
}

header a {
  color: white;
  position: relative;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.02em;
  font-weight: 400;
  box-sizing: border-box;
  margin-top: 6px;
  text-decoration: none;
}

header .info {
  float: right;
}
